body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #bdc3c7;
}

.title_content h3{
    font-weight: 400;
    color: yellow;
    padding-top: 75px;
    font-size: 25px;
    padding-bottom: 15px;
}